body {
    font-family: Arial, Comics Sans;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: rgb(204, 212, 180); 
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    background-color: #111;
    font-size:18px;
    color: rgb(216, 219, 46);
    text-align: center;
    padding: 3px 3px;
    margin: 10px;
    border-radius: 30px;
}

header1 nav ul {
    font-family:cursive;
    font-style: normal;
    font-size: 17px;
    font-weight: light;
    list-style-type: 0;
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0); 
    text-align: center;
    border-radius: 30px;
}

header1 nav ul li {
    display: inline;
    margin-right: 0px 0px;
}

header1 nav ul li a {
    color: #d1d0df;
    text-decoration: none;
    padding: 1px 1px ;
}

header2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(204, 212, 180); 
    font-size:18px;
    color: #111;
    text-align: center;
    padding: 0px 0px;
    margin: 10px;
    border-radius: 30px;
}

main {
    text-align: center;
    position: center;
}

.rate{
    text-align: center;
    font-size: 12px;
    background-color: #111;
    width: fit-content;
    height:fit-content;
    border-radius: 20px;
    color:rgb(204, 212, 180);
    margin: 20px;
}

.pay_noti{
    font-style: oblique;
}

section {
    padding: 10px;
    margin: 0px;
    background-color: rgb(204, 212, 180);
    border: 0px none #999;
    border-color: none;
    text-align: center;
}

main {
    font-family: Arial, Comics Sans;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: rgb(204, 212, 180); 
}

.intro{
    text-align: center;
}


.payment{
    border-radius: 25px;
    background-color: #2c5c77;
    width: fit-content;
    height: fit-content;
    margin: 20px;
}
.top{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 3px 3px;
    margin: 10px;
    border-radius: 30px;
}

header1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    background-color: rgb(204, 212, 180); 
    color: #030303;
    text-align: center;
    padding: 0px;
}

.link-container{
    background-color: #111;
    color:#533;
    border-radius: 30px;
    border-style:groove;
    border-color: #2c5c77;
    width: 300px;
    height: 25px;
    position: center;
    padding: 3px 3px;
    text-align: center;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: rgb(204, 212, 180); 
    color: #111;
    text-align: right;
    padding: 10px;
}